body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }

  .container {
    max-width: 400px;
    padding: 40px;
    margin: 0 auto;
    margin-top:50px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: fit-content;
  }

  h2 {
    text-align: center;
  }

  label {
    font-weight: bold;
  }

  input[type=text], input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
  }

  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
  }

  button:hover {
    opacity: 0.8;
  }

  .form-footer {
    text-align: center;
    margin-top: 16px;
  }

  .form-footer a {
    text-decoration: none;
    color: #4CAF50;
  }