{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/styleforms.css' %}">
{% endblock css %}

{% block content %}
    <div class="container">
      <h2>Service Appointment</h2> <br>
      <form method="post">
        {% csrf_token %}
        <div>
          <label for="vehicle_number">Vehicle number</label>
          <input type="text" placeholder="Enter Car number" name="car_number" required>
        </div>
  
        <div>
          <label for="vehicle_model">Vehicle model</label>
          <input type="text" placeholder="Enter Car model" name="car_model" required>
        </div>
  
        <div>
          <label for="description">Description</label>
          <input type="text" placeholder="Enter Description" name="description">
        </div>
  
        <div>
            <label for="wheeler">Wheeler:</label>
            <select name="wheeler">
              <option value="two">2-wheeler</option>
              <option value="four">4-wheeler</option>
            </select>
        </div>
        <br>
  
        <div>
            <label for="servicing">Servicing:</label><br>
            <input type="checkbox" name="servicing" value="1"> Washing <br>
            <input type="checkbox" name="servicing" value="2"> Waterless cleaning <br>
            <input type="checkbox" name="servicing" value="1"> Engine oil <br>
            <input type="checkbox" name="servicing" value="2"> Leakage <br>
            <input type="checkbox" name="servicing" value="1"> Maintenance <br>
            <input type="checkbox" name="servicing" value="2"> Full Servicing <br>
        </div>
        <br>
        <div>
            <label for="submission_date">Submission Date:</label>
            <input type="datetime-local" name="submission_date" required>
        </div>        
        <br>
        <button type="submit">Apply</button>
  
      </form>
    </div>
    {% endblock content %}