{% extends 'vehicle/base.html' %}   
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/styleforms.css' %}">
{% endblock css %}

{% block content %} 
<br><br><br>
<h3 style="text-align:center;"><b>SEND FEEDBACK</b></h3>
<br><br>
<div>
  <form method="post" style="margin-left:200px;margin-right:200px;">
      {% csrf_token %}
      <div class="mb-3">
        <label for="by" class="form-label">Your Name</label>
        <input type="text" name="by" class="form-control"  placeholder="Name">
        
      </div>
      <div class="mb-3">
        <label for="message" class="form-label">Message</label>
        <textarea name="message" class="form-control"  rows="3"placeholder="Message"></textarea>
      </div>
    
    <input type="submit" value="Send">
  </form>
</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock content %}

