{% extends 'vehicle/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/styleforms.css' %}">
{% endblock css %}

{% block content %}

<br><br><br>
<h3 style="text-align:center;"><b>UPDATE CUSTOMER</b></h3>
<br><br>
<div>
    <form method="post"  enctype="multipart/form-data" style="margin-left:200px;margin-right:200px;">
        {% csrf_token %}
        <label for="{{ userForm.username.id_for_label }}">Username</label>
        {{ userForm.username }}
        
        <label for="{{ userForm.email.id_for_label }}">Email</label>
        {{ userForm.email }}
        
        <label for="{{ customerForm.contact.id_for_label }}">Contact</label>
        {{ customerForm.contact }}
        
        <label for="{{ customerForm.address.id_for_label }}">Address</label>
        {{ customerForm.address }}
        
        <label for="{{ customerForm.profile_pic.id_for_label }}">Profile Picture</label>
        {{ customerForm.profile_pic }}
  <br><br>
      <input type="submit" value="Update">
    </form>
  </div>
  <br><br>

{% endblock content %}