{% extends 'vehicle/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/styleforms.css' %}">
{% endblock css %}

{% block content %}

<div>
    <form method="post"  enctype="multipart/form-data" style="margin-left:200px;margin-right:200px;">
        {% csrf_token %}
            <label for="username">Username</label>
            {% render_field userForm.username class="form-control" placeholder="Username" %}

            <label for="email">Email</label>
            {% render_field userForm.mobile class="form-control" placeholder="Mobile" %}
            
            <label for="mobile">Mobile</label>
            {% render_field customerForm.mobile class="form-control" placeholder="Mobile" %}
            
            <label for="address">Address</label>
            {% render_field customerForm.address class="form-control" placeholder="Address" %}
         
            <label for="password">Password</label>
            {% render_field userForm.password class="form-control" placeholder="Password" %} <br><br>
          
            <label for="profile_pic">Profile Picture</label>
            {% render_field customerForm.profile_pic class="form-control" placeholder="Profile Picture" %}
  <br><br>
      <input type="submit" value="Edit Your Profile">
    </form>
  </div>

{% endblock content %}