{% extends 'vehicle/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/styleforms.css' %}">
{% endblock css %}

{% block content %}
<div class="container">
    <h2>Login</h2>
    <form method="POST" enctype="multipart/form-data" action="{% url 'login' %}">
      {% csrf_token %}
      <div>
        <label for="username">Username</label>
        <input type="text" placeholder="Enter username" name="username" required>
      </div>

      <div>
        <label for="password">Password</label>
        <input type="password" placeholder="Enter Password" name="password" required>
      </div>

      <button type="submit">Login</button>
      
      <div class="form-footer">
        Don't have an account? <a href="{% url 'register-page'%}">Sign up</a>
      </div>
    </form>
</div>
{% endblock content %}